.wrapper {
	max-width:1200px;
	min-width: 768px;
	margin-left:auto;
	margin-right: auto;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .20);
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
	background-color: #ffffff;
}



.main-header-catalog {
    background-image: url(../img/jpg/catalog-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    width: 1200px;
    height:510px;
    background-color: #81b3d2;
}

a {
    text-decoration: none;
}

.main-navigation {
	position: relative;
	padding: 15px 6.1%;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: calc(50% - 69px);
	width: 138px;
	height: 70px;
}


.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
	width: 22.8%;
	
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n) {
  text-align: right;
}

.site-navigation li:nth-child(4n-1) {
  margin-left: auto;
}

     

.site-navigation a {
    color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:active:after {
	color: #766357;
}


.background {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
	 justify-content: center;
	padding-top: 76px;
	padding-bottom: 80px;
	background-color: #a9c4d8;
	background-image:
	  url(../img/png/index-head-footer.png), 
	  url(../img/jpg/head-background.jpg);
	background-repeat: 
	  no-repeat,
	  no-repeat;
	background-position:
	  center 100%,
	  center top -55px; 
	background-size: 
	  100% 57px,
	  auto;
}
  
.background img {
	width: 458px;
	height: 352px;
}


    
.features {
	padding-top: 60px;
    color: #333333;
}
   

.features h2 {
	width: 465px;
	margin: 0;
	margin: 0 auto;
	margin-bottom: 28px;
	padding: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.features > p {
	margin: 0;
	margin-bottom: 52px;
	padding: 0;
	line-height: 26px;
	text-align: center;
}

.features-list {
	margin:0;
	padding: 0;
	list-style: none;
}

.more-features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 256px;
	color: #ffffff;
	background-color: #81b3d2;
	overflow: hidden;
}


.features-text {
	width: 33.3%;
	margin: auto;
}

.features-text p {
	max-width: 302px;
	margin-left: auto;
	margin-right: auto;
}


.features-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 66.7%;
  height: 256px;
}

.image-two {
	-webkit-box-ordinal-group: 0;
			   -ms-flex-order: -1;
						order: -1;
}
  

.features-photo img {
	display: block;
}



.more-features {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin:0;
	padding: 0;
}

.more-features .features-item {
	width: 33.3%;
	max-width: 300px;
	margin: 50px;
}


.last-features {
	 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eeeeee;
}

.last-features .more-item {
	width: 33.3%;
	max-width: 300px;
	margin: 50px;
	
}



.features-item h4,
.features-item h5 {
	width: 151px;
    margin: 0 auto 24px auto;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.features,
.findhotels {
	text-align: center;
}

.list-item h4 {
	color: #ffffff;
}

.more-item {
	align-items: center;
	
	background-color: #eeeeee;
	
}



.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
  }

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
    background-color: #7aadcb;
}


.search h3, h4 {
    color: #000000;
    text-align: center;
 
}

.search h3 {
    font-size: 30px;
}

.search h4 {
    font-size: 14px;
}
.button1 {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
}

.button1:hover,
.button1:focus {
  background-color: #604e43;
}

.button1:active {
    background-color: #503e33;
}

.search-container {
    color: #000000;
    text-align: center;
    background-image: url(../img/jpg/map.jpg);
    background-repeat: no-repeat;
}

.search-container input {
    border: none;
    background-color: #f2f2f2;
}


.search-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}
.search-info input {
	font-size: 14px;
	font-weight: bold;
	color: #000000;

	background-color: #f2f2f2;
}

.search-btn {
	font: inherit;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
  	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #81b3d2;
  	border: none;
}

.search-btn:hover,
.search-btn:focus {
	background-color: #669ec0;
}

.search-btn:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.search h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.search {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
}

.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;
	width: 100%;
	padding: 30px 0;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 33.3%; 
}

.footer-hashtag,
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer-social li:not(:last-child){
   margin-right: 6px; 
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2; 
}

.social-button::before {
	content: "";
	background-repeat: no-repeat;
  }
  

.twitter {
	background-color: #81b3d2;
	background-image:  url(../img/svg-sedona/twitter.svg);
	background-repeat:  no-repeat;
	background-position: center;
}

.facebook {
	background-color: #81b3d2;
	background-image:  url(../img/svg-sedona/fb-icon.svg);
	background-repeat:  no-repeat;
	background-position: center;
}

.youtube {
	background-color: #81b3d2;
	background-image:  url(../img/svg-sedona/youtube.svg);
	background-repeat:  no-repeat;
	background-position: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}


.footer-copyright p {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  line-height: 26px;
}

.footer-copyright svg {
  display: block;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bdbbbc;
}

/*Стили для второй страницы*/


.filter {
  padding: 27px 6.1% 30px 6.1%;
  color: #ffffff;
  background-color: #4d7ea9;
  background-image: url(../img/jpg/catalog-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 -50px;
}



.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-list {
	margin: 31px 72px;
	
}

.form-list:nth-child(2) {
	margin-left: 43px;
}

.filter fieldset {
	border: none;
}

.filter-list {
	list-style: none;
}

fieldset {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


.form-item {
	margin-left: auto;
}


.button-more {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
    background-color: #5496bd;
}


.find-filters {
	display: flex;
	justify-content: flex-start;
}

.find-filters p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}



.find-filters h2 {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}

.finded {
	margin-left: 72px;
}

.sorting {
	display: flex;
	align-items: center;
	margin-left: 49px;
}

.sorting-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 40px;
	list-style: none;
}

.sort-item {
	padding-left: 33px;
}

.sort-item:nth-child(1) {
	padding-left: 0;
}

.sort-item a {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;

	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}

.sort-item a:hover {
	color: #81b3d2;
}
.sort-item a:focus,
.sort-item a:active {
	color: #000000;
	border: none;
}

.sort-title {
	margin-left: auto;
	margin-right: 73px;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.catalog-image img {
	width: 135px;
	height: 90px;
	display: block;
}


.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}


.catalog-item {
	display: flex;
	padding: 30px 72px;
	border: 1px solid #e5e5e5;
}

.catalog-columns {
	display: flex;
	margin-top: 17px;
}

.column-left {
	display: flex;
	flex-direction: column;
}

.column-left span {
	margin: 0;
	padding: 0;
}


.stars {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	justify-content: flex-start;
}

.stars-list {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}
.stars-list li {
	margin-right: 6px;
}

.rating {
	margin-top: auto;
	margin-left: auto;
	padding: 0;
	width: 110px;
	text-align: center;
	background-color: #f2f2f2;
}

.rating p {
	color: #666666;
	margin: 0;
	padding: 0;
}


.catalog-item a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

ul {
	list-style: none;
}

.catalog-item p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.catalog-info {
	margin-left: 30px;
}


.column-right {
	margin-left: 6px;
	display: flex;
	flex-direction: column;
	
}

.column-right p {
	margin: 0;
	padding: 0;
}


.column-right .button-booking{
	font: inherit;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
  	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;
  	background-color: #766357;
  	border: none;
}


.button-booking:hover,
.button-booking:focus {
	background-color: #604e43;
}

.button-booking:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.column-left .button-more {
	font: inherit;

	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
  	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #81b3d2;
  	border: none;
}

.button-more:hover,
.button-more:focus {
	background-color: #669ec0;
}

.button-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}




.filter-first,
.filter-second,
.value {
    border: none;
}

.name-navigation {
    color: #000000;
}

.name-navigation:hover,
.name-navigation:focus {
  color: #81b3d2;
}

.name-navigation:active {
    color: #b2b2b2;
}

/* ползунок */


.form-list {
	width: 330px;
	margin: 50px auto; 
  
	color: #ffffff;
	text-transform: uppercase;
  }
  
  .form-list-title {
	margin-bottom: 9px;
  
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
  }
  
  .price-controls {
	position: relative;
	
	height: 36px;
	margin-bottom: 20px;
  
	font-size: 0;
  
	border: 2px solid #ffffff;
	border-radius: 2px;
  }
  
  .price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
  
	width: 2px;
	height: 22px;
  
	background: #ffffff;
	transform: translate(-50%, -50%);
  }
  
  .price-controls label {
	display: inline-block;
  
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
  
	cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
	width: 90px;
	padding-left: 65px;
  }
  
  .price-controls input {
	width: 50px;
	margin: 0;
  
	color: inherit;
	font: inherit;
  
	background: none;
	border: none;
  }
  
  .range-controls {
	position: relative;
  
	margin-bottom: 32px;
  }
  
  .range-controls .scale {
	height: 2px;
  
	background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
	width: 80%;
	height: 2px;
  
	background: #ffffff;
  }
  
  .range-toggle {
	position: absolute;
	top: -9px;
  
	width: 4px;
	height: 4px;
  
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
  }
  
  .range-toggle:hover {
	background: #1c4f80;
  }
  
  .range-toggle-min {
	left: 0;
  }
  
  .range-toggle-max {
	left: 80%;
  }
  
  .btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
  
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
  
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
  }
  
  .btn-transparent:hover {
	color: #000000;
  
	background: #ffffff;
  }